
html, body {
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

#searchForm {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.viewSlide {
    width:100%;
    height: 100%;
    border: 1px solid black;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

#testSlide{
    height: 20px;
}
::-webkit-scrollbar {
    display:none;
}
#googleView {

    -ms-overflow-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}