.youtubeImage{
    float:left;
    width:320px;
    height:176px;
    border: 2px solid black;
}

#youtubeWrapper{
    background:aliceblue;
}

img{
    width:100%;
    height:100%;
}

.youtubeItem{
    width:100%;
    height:180px;
    margin: 5px 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#youtubeWrapper a:link{
    color:black;
    text-decoration:none;
}

#youtubeWrapper a:visited{
    color:maroon;
    text-decoration:none;
}

#youtubeWrapper a:hover{
    color:rebeccapurple;
    text-decoration:none;
}

.youtubeDetail{
    width:65%;
    float:left;
    margin:10px;
}

.youtubeDate{
    font-size:9px;
}

.youtubeDescription{
    font-size:12px;
}